:root {
  --color-text-primary: #18181b;
  --color-text-secondary: #71717a;
  --color-text-tertiary: #a1a1aa;

  --color-bg-primary: #fafafa;
  --color-bg-secondary: #f4f4f5;
  --color-bg-tertiary: #e4e4e7;
  --color-bg-quaternary: #d4d4d8;

  --color-border-primary: #e5e5e5;
  --color-border-secondary: #a1a1aa;
  --color-border-tertiary: #a3a3a3;

  --color-accent-primary: #34d399;
  --color-accent-hover: #10b981;
  --color-accent-bg: #ecfdf5;

  --color-error-text: #e11d48;
  --color-error-bg: #ffe4e6;
  --color-error-hover-bg: #fff1f2;

  --color-token-1: #e0f2fe;
  --color-token-2: #dbeafe;
  --color-token-3: #e0e7ff;
  --color-token-4: #ede9fe;
  --color-token-5: #fae8ff;
  --color-token-6: #fce7f3;
  --color-token-7: #ffe4e6;
  --color-token-8: #ffedd5;
  --color-token-9: #fef3c7;
  --color-token-10: #d1fae5;

  --color-scrollbar-thumb: #d4d4d4;
  --color-scrollbar-thumb-hover: #a3a3a3;

  --shadow-focus: 0 0 0 3px rgba(37, 99, 235, 0.1);
  --shadow-token: 0 2px 4px rgba(0, 0, 0, 0.1);
}
